/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color:violet;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color:green;
    margin-top: 20px;
}

p {
    text-align: center;
    margin: 10px 20px;
    line-height: 1.6;
}

/* Header Styling */
.header {
    background-color: #34495e;
    padding: 10px;
    color: white;
}

/* Fieldset Styling */
.favorite-section {
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    border: 2px solid #orange;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

legend {
    font-weight: bold;
    color: #2980b9;
    padding: 0 10px;
}

label {
    display: inline-block;
    margin-top: 5px;
    font-size: 16px;
}

/* Personality Section */
#personality {
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    text-align: left;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Button Styling */
button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    background-color:green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color:gray;
}
